header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/

textarea {
    min-height: 75px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #843534;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #843534;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #843534;
}

    .validation-summary-errors ul {
        padding-left: 15px;
    }

.validation-summary-valid {
    display: none;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.bottom-buffer-sm {
    margin-bottom: 10px;
}

.bottom-buffer-xs {
    margin-bottom: 5px;
}

header {
    background-color: #000;
}

#headerLeft, #headerMiddle {
    color: #fff;
}

#headerLeft {
    height: 80px;
    background: url("Images/VisualSwitchInterface/logo-horse-hoe.png") left center no-repeat;
}

#headerMiddle {
    height: 73px;
    padding-top: 7px;
    background: url("Images/VisualSwitchInterface/logo-cast-net.png") 100px 40px no-repeat;
}

#headerRight {
    height: 66px;
    padding: 14px 0;
}

    #headerRight .navbar {
        margin-bottom: 0;
        background-color: #000;
        border-color: #000;
    }

        #headerRight .navbar .container-fluid {
            background-color: #000;
            color: #fff;
        }

    #headerRight .navbar-default .navbar-nav > li > a {
        color: #fff;
    }

    #headerRight .navbar-default .navbar-nav > .open > a:hover,
    #headerRight .navbar-default .navbar-nav > .open > a:focus,
    #headerRight .navbar-default .navbar-nav > .open > a:visited,
    #headerRight .navbar-default .navbar-nav > .open > a:active {
        background-color: #000;
    }

.login-bg {
    background: url("Images/VisualSwitchInterface/login-bg.png") center center no-repeat;
    background-size: cover;
}

.map-img {
    width: 100%;
}

.ajax-open-modal,
.ajax-operation {
    font-family: inherit;
}

.text-lg {
    font-size: 16px;
    line-height: 36px;
}

.well.vertical-center {
    margin-bottom: 0;
}
