header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/

textarea {
    min-height: 75px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-errors ul {
    padding-left: 15px;
}

.validation-summary-valid {
    display: none;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.bottom-buffer-sm {
    margin-bottom: 10px;
}

.bottom-buffer-xs {
    margin-bottom: 5px;
}

header {
    background-color: #1a1a1a;
}

#headerLeft, #headerRight {
    height: 77px;
}

#headerLeft {
    background: url("Images/VisualSwitchInterface/header-left.png") left center no-repeat;
}

#headerRight {
    background: url("Images/VisualSwitchInterface/header-right.png") right center no-repeat;
}

#loginWell {
    margin-top: 25%;
}

.map-img {
    width: 100%;
}

.ajax-open-modal,
.ajax-operation {
    font-family: inherit;
}