header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/

textarea {
    min-height: 75px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-errors ul {
    padding-left: 15px;
}

.validation-summary-valid {
    display: none;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.bottom-buffer-sm {
    margin-bottom: 10px;
}

.bottom-buffer-xs {
    margin-bottom: 5px;
}

header {
    background-color: #000;
}

#headerLeft, #headerMiddle {
    color: #fff;
}

#headerLeft {
    height: 80px;
    background: url("Images/VisualSwitchInterface/logo-horse-hoe.png") left center no-repeat;
}

#headerMiddle {
    height: 73px;
    padding-top: 7px;
    background: url("Images/VisualSwitchInterface/logo-cast-net.png") 100px 40px no-repeat;
}

.login-bg {
    background: url("Images/VisualSwitchInterface/login-bg.png") center center no-repeat;
    background-size: cover;
}

.map-img {
    width: 100%;
}

.ajax-open-modal,
.ajax-operation {
    font-family: inherit;
}

.text-lg {
    font-size: 16px;
    line-height: 36px;
}

.well.vertical-center {
    margin-bottom: 0;
}