header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/

textarea {
    min-height: 75px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #843534;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #843534;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #843534;
}

    .validation-summary-errors ul {
        padding-left: 15px;
    }

.validation-summary-valid {
    display: none;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.bottom-buffer-sm {
    margin-bottom: 10px;
}

.bottom-buffer-xs {
    margin-bottom: 5px;
}

.top-buffer {
    margin-top: 20px;
}

.top-buffer-sm {
    margin-top: 10px;
}

.top-buffer-xs {
    margin-top: 5px;
}

header, footer {
    background-color: #000;
    color: #fff;
}

footer {
    padding: 10px 0;
}

#headerLeft {
    height: 80px;
    background: url("Images/VisualSwitchInterface/logo-horse-hoe.png") left center no-repeat;
}

#headerMiddle {
    height: 80px;
    padding-top: 15px;
    background: url("Images/VisualSwitchInterface/logo-cast-net.png") 100px 40px no-repeat;
}

#headerRight {
    height: 66px;
    padding: 14px 0;
}

    #headerRight .navbar {
        margin-bottom: 0;
        background-color: #000;
        border-color: #000;
    }

        #headerRight .navbar > div {
            background-color: #000;
        }

    #headerRight .navbar-default .navbar-nav > li > a {
        color: #fff;
    }

    #headerRight .navbar-default .navbar-nav > .open > a:hover,
    #headerRight .navbar-default .navbar-nav > .open > a:focus,
    #headerRight .navbar-default .navbar-nav > .open > a:visited,
    #headerRight .navbar-default .navbar-nav > .open > a:active {
        background-color: #000;
    }

.login-bg {
    background: url("Images/VisualSwitchInterface/login-bg.png") center center no-repeat;
    background-size: cover;
}

.ajax-open-modal,
.ajax-operation,
.ajax-form {
    font-family: inherit;
}

.text-lg {
    font-size: 16px;
}

.well.vertical-center {
    margin-bottom: 0;
}

.nav-pills-container {
    padding-top: 5px;
    height: 45px;
    border-bottom: 4px solid #428bca;
    overflow: hidden;
}

.btn-fake {
    display: inline-block;
    padding: 7px 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-super-danger {
    color: #ff0000;
}

